@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 50px;
    min-height: 150px;
   
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFB500;

}

hr {
    height: 2px;
    background-color: white;
}

h1 {
    display: block;
    height: 15px;
    padding: 10px;
    padding-top: -50px;
    font-size: 35px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.603);
}

h2 {
    height: 20px;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: -120px;
    font-size: 25px;
}


main {
    min-width: 565px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.rex {
    display: inline-block;
    padding: 20px;
    margin: 0px;
}


.x {
    display: inline-block;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
}


.almirante {
    display: inline-block;
    padding: 20px;
    margin: 0px;
}

main > .placar {
    margin-top: 0px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.video > iframe {
    width: 80%;
}


footer {
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    font-size: 18px;
}